services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    networks:
      - mediacenter
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_APP_USERNAME_1=${SONARR_POSTGRES_USERNAME}
      - POSTGRESQL_APP_PASSWORD_1=${SONARR_POSTGRES_PASSWORD}
      - POSTGRESQL_APP_DATABASES_1=sonarr-main,sonarr-log
      - POSTGRESQL_APP_USERNAME_2=${RADARR_POSTGRES_USERNAME}
      - POSTGRESQL_APP_PASSWORD_2=${RADARR_POSTGRES_PASSWORD}
      - POSTGRESQL_APP_DATABASES_2=radarr-main,radarr-log
      - POSTGRESQL_APP_USERNAME_3=${PROWLARR_POSTGRES_USERNAME}
      - POSTGRESQL_APP_PASSWORD_3=${PROWLARR_POSTGRES_PASSWORD}
      - POSTGRESQL_APP_DATABASES_3=prowlarr-main,prowlarr-log
    volumes:
      - ${CONFIG_DIR}/postgresql:/var/lib/postgresql/data
      - ./scripts/postgres-init/ensure-databases.sh:/docker-entrypoint-initdb.d/ensure-databases.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  mediacenter:
    driver: bridge
