services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    networks:
      - mediacenter
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  scrutiny:
    image: lscr.io/linuxserver/scrutiny:latest
    container_name: scrutiny
    restart: always
    networks:
      - mediacenter
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    ports:
      - 8080:8080
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SCRUTINY_API_ENDPOINT=http://localhost:8080
      - SCRUTINY_WEB=true
      - SCRUTINY_COLLECTOR=true
    volumes:
      - /path/to/config:/config
      - /run/udev:/run/udev:ro
    devices:
      - /dev/sda:/dev/sda
      - /dev/sdb:/dev/sdb
      - /dev/sdc:/dev/sdc
      - /dev/sdd:/dev/sdd
      - /dev/sde:/dev/sde
      - /dev/sdf:/dev/sdf
      - /dev/sdg:/dev/sdg
      - /dev/sdh:/dev/sdh
      - /dev/sdi:/dev/sdi
      - /dev/sdj:/dev/sdj

  cloud-sql-proxy:
    image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.8.2-alpine
    container_name: cloud-sql-proxy
    restart: unless-stopped
    entrypoint: /bin/sh
    # Decode base64 credentials to file, then run proxy
    command: -c "echo \"$$GOOGLE_APPLICATION_CREDENTIALS_BASE64\" | base64 -d > /credentials.json && /cloud-sql-proxy --address=0.0.0.0 ${CLOUD_SQL_INSTANCES}"
    ports:
      - "30001:3306" # MySQL
      - "30002:5432" # Postgres
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/credentials.json
      - GOOGLE_APPLICATION_CREDENTIALS_BASE64=${CLOUDSQL_BASE64_CREDENTIALS}
    networks:
      - mediacenter
